@media (max-width: 1140px) {
    .header__img {
        width: 100%;
    }
    .to-top {
        bottom: 80px;
        right: 0;
    }
}

@media (max-width: 686px) {
    .header__nav {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .header__nav-items {
        justify-content: center;
        row-gap: 8px;
        padding: 10px;
    }

    .info {
        flex-direction: column;
        row-gap: 10px;
    }
}